[Unit]
Description=Fusor Initial Setup (text mode)
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
Before=display-manager.service getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=serial-getty@ttyAMA0.service serial-getty@ttymxc0.service serial-getty@ttymxc3.service
Conflicts=plymouth-quit-wait.service
#Conflicts=fusor-initial-setup-graphical.service
#After=fusor-initial-setup-graphical.service
ConditionKernelCommandLine=!rd.live.image
ConditionPathExists=!/etc/.fusor-initial-setup.done


[Service]
Type=oneshot
ExecStartPre=-/bin/plymouth quit
ExecStartPre=/bin/kill -55 1
ExecStart=/usr/bin/fusor-initial-setup
ExecStartPost=/bin/kill -54 1
# 12/11 commenting out ExecStartPost and rebuilding fusor-initial-setup
# thinking the call to systemctl may be causing a recursive reload of systemd on firstboot?
# ExecStartPost=/usr/bin/systemctl disable fusor-initial-setup-text.service
TimeoutSec=0
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
